div(class="w3-modal" id="comment_form")
    div(class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:800px")
        div(class="w3-center")
            h3(class="task_info_title") Новый комментарий
            span(onclick="document.getElementById('comment_form').style.display='none'"
                class="w3-button w3-xsmall w3-hover-brown round_b w3-display-topright" title="Закрыть") &times;
        form(class="w3-container" action='/new_comment' method='post')
            input(type='text' name='task_name' style='display:none' value=task_name)
            input(type='text' id='com_taskId' name='taskId' style='display:none')
            label() Комментарий
            textarea(class="w3-input w3-border w3-margin-bottom" name='comment_text' required)
            button(class="w3-button w3-block w3-section w3-padding w3-round-xxlarge brown_b" type='submit') Добавить комментарий